{:kotoba.app/id "cloud.itonami.isic-3230", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreibzevulysir3bmnjecno4gn3mo4njbqmobbbax5bd3sqhngqw2v74", :kotoba.app/embed-url "ipfs://bafkreibzevulysir3bmnjecno4gn3mo4njbqmobbbax5bd3sqhngqw2v74", :published {:archive "https://kotobase.net/ipfs/bafkreibzevulysir3bmnjecno4gn3mo4njbqmobbbax5bd3sqhngqw2v74", :size 72614, :put-status 201, :get-status 200, :at "2026-08-15T13:41:18.330Z"}}
